body {
  background-color: #c5c5c5;
}

#board {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.blank_tile {
  border: 1px solid tomato;
  width: 20px;
  height: 20px;
}

.full_tile {
  border: 1px solid tomato;
  width: 20px;
  height: 20px;
  background-color: tomato;
}
