body {
  margin: 0;
  padding: 1em;
  background-color: #c5c5c5;
  display: grid;
  place-items: center;
  height: 100vh;
  width: auto;
  font-size: 16px;
}

#board {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: auto;
}

#blank_tile,
.blank_tile {
  border: 1px solid #333;
  width: 20px;
  height: 20px;
}

#full_tile,
.full_tile {
  border: 1px solid #333;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.info {
  display: grid;
  place-items: center center;
  font-size: 0.5em;
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.emo {
  display: grid;
  place-items: center center;
  font-size: 0.5em;
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
  background-color: transparent;
}
